/AmstrongNumber.class
/DecendingOrder.class
/DuplicateInArray.class
/Factorial.class
/FibonisSeries.class
/MinNumberInArray.class
/MaxNumberInArray.class
/Palimdrom.class
/PrimeNumber.class
/SecondHighestNumberInArray.class
