/AlternateCharUppCase.class
/ConvertLowerUpperChar.class
/OccernceOfCharInString.class
/ReplaceDigitWithStaar.class
/ReverseNumberFromString.class
/ReverseString.class
/SeprateCharFromString.class
/SumOfDigitInString.class
